#app {
  width: 100%;
  height: 100vh;
  background: url("../static/bg.jpg") no-repeat;
  background-size: 100% auto;
}
.now {
  position: absolute;
  top: 5.5rem;
  font-size: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.date-box {
  margin-right: 0.2rem;
}
